body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

.login-container {
    background: white;
    padding: 40px; /* Equal padding on all sides */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Dynamic width based on viewport */
    max-width: 800px; /* Maximum width */
    min-width: 500px; /* Minimum width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 15px; /* Increased padding */
    margin: 15px 0; /* Increased margin */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.login-container button {
    width: 100%;
    padding: 15px; /* Increased padding */
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.login-container button:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
}