.top-bar {
    color: rgb(252, 252, 252); 
    padding: 10px 20px; 
    text-align: center; 
    font-family: Arial, sans-serif; 
}

.top-bar h1 {
    margin: 0; 
    font-size: 24px; 
}

.bar {
    height: 4px; 
    background-color: #333;
    margin-top: 10px; 
}